<div class="apply-card">

  <div class="apply-card-head">
    <div class="apply-card-head-title"><%= 'Bug fix - Mobile Development (IOS)' %></div>
    <div class="apply-card-head-dots">
      •••
    </div>
  </div>

  <div class="apply-card-info">
    <div class="apply-card-info-type"> <%= 'тестовое задание' %></div>
    <div class="apply-card-info-time"> <%= 'Опубликовано: 22.08.2019' %></div>
    <div class="apply-card-info-time"> <%= 'Истекает через 15 дней' %></div>
  </div>

  <div class="apply-card-body">
    <%= 'Have few Bug Expertse Needed iOS Developer & Android Developer. Swift and ObjectiveC...' %>
  </div>

  <div class="apply-card-skills">
    <% ['iOS Jobs', 'Swift Jobs', 'NativeScript Jobs'].each do |item| %>
      <div class="apply-card-skills-item"><%= item %></div>
    <% end %>
  </div>

  <div class="apply-card-footer">
    <% if state == 'new_apply' %>
      <div class="apply-card-footer-new"><%= t(:new_apply) %></div>
      <div class="apply-card-footer-new_dig"><%= 23 %></div>
      <div class="apply-card-footer-all_apply"><%= t(:all_apply) %></div>
      <div class="apply-card-footer-all_dig"><%= 40 %></div>
      <div class="apply-card-footer-views">
        <%= image_tag("views_eye.svg", alt: "eye") %>
        <%= 144 %>
      </div>

    <% elsif state == 'applied'%>
      <div class="apply-card-footer-new">
        <%= t(:project_assigned) %>
      </div>
      <div class="apply-card-footer-assignes_developer">
        <%= 'Ilia Lesyn' %>
      </div>
    <% elsif state == 'choose_applier'%>
      <div class="apply-card-footer-choose_developer"><%= t(:choose_developer) %></div>
      <div class="apply-card-footer-all_apply"><%= t(:feedback) %></div>
      <div class="apply-card-footer-all_dig">20</div>
      <div class="apply-card-footer-views">
        <%= image_tag("views_eye.svg", alt: "eye") %>
        <%= 144 %>
      </div>
    <% end %>
  </div>
</div>
