<p id="notice"><%= notice %></p>

<h1>Applies</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applies.each do |apply| %>
      <tr>
        <td><%= link_to 'Show', apply %></td>
        <td><%= link_to 'Edit', edit_apply_path(apply) %></td>
        <td><%= link_to 'Destroy', apply, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Apply', new_apply_path %>
