<% if user_signed_in? %>

  <p id="notice"><%= notice %></p>

  <h1>Applies current_user.name</h1>

  <body>
    <table>
      <tr>
        <th>Title</th>
        <th>Info</th>
        <th colspan="3"></th>
        <th></th>
      </tr>

      <% @applies.each do |apply| %>
        <tr>
          <td><%= apply.project.title %></td>
          <td><%= apply.project.info %></td>
          <td><%= link_to 'Refuse', apply, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </table>
  <body>
<% end %>

<%= link_to t(:back_to_all_project), projects_path %>
