<section class="signup" id="signup">
  <h2 class="signup__title"><%= t(:sign_up_greeting) %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-field">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: t(:name) %>
    </div>

    <div class="form-field form-field__relative">
      <div id="bad_note" class="form-field--hide bad-note"><%= t(:bad_note) %><%= image_tag("sad.svg", alt: "sad") %></div>
      <div id="good_note" class="form-field--hide good-note"><%= t(:good_note) %><%= image_tag("like.svg", alt: "like") %></div>
      <%= f.email_field :email, id: "email_check", autocomplete: "email", placeholder: t(:email) %>
    </div>

    <div class="form-field form-field__relative">
      <span class="form-field__image search--disable" id="eye_open_pass"><%= image_tag("eye.svg", alt: "eye") %></span>
      <span class="form-field__image" id="eye_closed_pass"><%= image_tag("closed-eye.svg", alt: "closed-eye") %></span>
      <%= f.password_field :password, id: "pass", autocomplete: "new-password", placeholder: t(:password) %>
    </div>

    <div class="form-field form-field__relative">
      <span class="form-field__image search--disable" id="eye_open_pass_confirm"><%= image_tag("eye.svg", alt: "eye") %></span>
      <span class="form-field__image" id="eye_closed_pass_confirm"><%= image_tag("closed-eye.svg", alt: "closed-eye") %></span>
      <%= f.password_field :password_confirmation, id: "pass_confirm", autocomplete: "new-password", placeholder: t(:password_confirm) %>
    </div>

    <%= f.submit t(:sign_up), class: "button button--blue button--login button--stretch", id: "reg_submit"  %>
  <% end %>
  <p class="signup__social"><%= t(:sign_up_social) %></p>
  <div class="signup__buttons">
    <%= link_to omniauth_authorize_path(resource_name, :google_oauth2) do %>
      <%= content_tag :span, image_tag("google.svg", alt: "google", class: "button__image") + t(:google_btn), class: "button button--large button--white button--social" %>
    <% end %>
    <%= link_to omniauth_authorize_path(resource_name, :facebook) do %>
      <%= content_tag :span, image_tag("facebook.svg", alt: "facebook", class: "button__image") + t(:facebook_btn), class: "button button--large button--white button--social" %>
    <% end %>
  </div>
  <div class="signup__bottom">
    <span class="signup__remark"><%= t(:remark_to_login) %></span>
    <%= link_to t(:log_in), new_session_path(resource_name) %>

  </div>
</section>



