<section class="signup">
  <h2 class="signup__title"><%= t(:sign_up_greeting) %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-field">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: t(:name) %>
    </div>

    <div class="form-field form-field__relative">
      <div id="hintNote" class="form-field--hide ">Please, write your email correctly &#128526;</div>
      <div id="badNote" class="form-field--hide ">This email is not available &#9785;</div>
      <div id="goodNote" class="form-field--hide ">This email is available &#128515;</div>
      <%= f.email_field :email, autocomplete: "email", placeholder: t(:email) %>
    </div>

    <div class="form-field form-field__relative">
      <span class="form-field__image"><%= image_tag("eye.svg", alt: "eye") %></span>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: t(:password) %>
    </div>

    <div class="form-field form-field__relative">
      <span class="form-field__image"><%= image_tag("eye.svg", alt: "eye") %></span>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: t(:password_confirm) %>
    </div>

    <%= f.submit t(:sign_up), class: "button button--blue button--login button--stretch"  %>
  <% end %>
  <p class="signup__social"><%= t(:sign_up_social) %></p>
  <div class="signup__buttons">
    <%= link_to omniauth_authorize_path(resource_name, :google_oauth2) do %>
      <%= content_tag :span, image_tag("google.svg", alt: "google", class: "button__image") + t(:google_btn), class: "button button--large button--white button--social" %>
    <% end %>
    <%= link_to omniauth_authorize_path(resource_name, :facebook) do %>
      <%= content_tag :span, image_tag("facebook.svg", alt: "facebook", class: "button__image") + t(:facebook_btn), class: "button button--large button--white button--social" %>
    <% end %>
  </div>
  <div class="signup__bottom">
    <span class="signup__remark"><%= t(:remark_to_login) %></span>
    <%= link_to t(:log_in), new_session_path(resource_name) %>

  </div>



</section>



