<div class="side-profile-panel">
  <div class="side-profile-panel__ava">
    <%= image_tag("ava-example.png", alt: "avatar") %>
  </div>
  <div class="side-profile-panel__name">
    <%= current_user.name %>
  </div>
  <div class="side-profile-panel__specialization">
    <%= current_user.skills.join(', ') %>
  </div>

  <div class="side-profile-panel__email">
    <%= current_user.email %>
  </div>

  <div class="side-profile-panel__social-links-block">
    Linkedin
    Telegram
    Facebook
  </div>

  <div class="side-profile-panel__info-profile">
    <div class="side-profile-panel__info-profile__title">
      Завершенных проектов
    </div>
    <div class="side-profile-panel__info-profile__count">
      5
    </div>
  </div>

  <div class="side-profile-panel__info-profile">
    <div class="side-profile-panel__info-profile__title">
      Рекомендаций
    </div>
    <div class="side-profile-panel__info-profile__count">
      2
    </div>
  </div>

  <div class="side-profile-panel__info-profile">
    <div class="side-profile-panel__info-profile__title">
      Просмотров профиля
    </div>
    <div class="side-profile-panel__info-profile__count">
      129
    </div>
  </div>

  <div class="side-profile-panel__short-about-yourself">
    Коротко о себе
  </div>

  <div class="side-profile-panel__text-about-yourself">
    <%= current_user.info %>
  </div>
</div>
