<div class="login">
  <section class="login-first">
    <%= image_tag("smile_face.svg", alt: "clap", class: "login-first__image") %>
    <h1 class="login-first__title"><%= t(:think_up_password_title) %></h1>
    <p class="login-first__subtitle"><%= t(:think_up_password_label) %></p>
    <div class="login-first__buttons">
    </div>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
      <div class="form-field form-field__relative">
        <span class="form-field__image"><%= image_tag("eye.svg", alt: "eye") %></span>
        <%= f.password_field :password, autocomplete: "password", placeholder: t(:password) %>
      </div>
      <div class="form-field form-field__relative">
        <span class="form-field__image"><%= image_tag("eye.svg", alt: "eye") %></span>
        <%= f.password_field :password_confirmation, autocomplete: "confirm-password", placeholder: t(:password_confirm) %>
      </div>
      <%= f.submit t(:confirm_password_button), class: "button button--large button--blue button--login" %>
    <% end %>
  </section>
  <section class="login-second">
    <%= image_tag("new_pass.svg", alt: "new_password", class: "login-second__image") %>
  </section>
</div>
