<footer class="site-footer">
  <div>
    <%= link_to do %>
      <%= content_tag :span, t(:about)%>
    <% end %>
    <%= link_to do %>
      <%= content_tag :span, t(:support), class: "site-footer--ml-40" %>
    <% end %>
  </div>
  <div class="site-footer__center"><span>&#169;2019 Laba42, Inc.</span></div>
  <div>
    <%= link_to do %>
      <%= content_tag :span, t(:telegram)%>
    <% end %>
    <%= link_to do %>
      <%= content_tag :span, t(:facebook), class: "site-footer--ml-40" %>
    <% end %>
  </div>
</footer>
