<footer class="site-footer d-flex justify-content-between">
  <div>
    <%= link_to do %>
      <%= content_tag :span, "About"%>
    <% end %>
    <%= link_to do %>
      <%= content_tag :span, "Support", class: "site-footer--ml-40" %>
    <% end %>
  </div>
  <div><span>&#169;2019 Laba42, Inc.</span></div>
  <div>
    <%= link_to do %>
      <%= content_tag :span, "Telegram Chat"%>
    <% end %>
    <%= link_to do %>
      <%= content_tag :span, "Facebook", class: "site-footer--ml-40" %>
    <% end %>
  </div>
</footer>
