<div class="site-footer__wrapper">
  <footer class="site-footer">
    <div>
      <%= link_to do %>
        <%= content_tag :span, t('footer.about')%>
      <% end %>
      <%= link_to do %>
        <%= content_tag :span, t('footer.support'), class: "site-footer--ml-40" %>
      <% end %>
    </div>
    <div class="site-footer__center"><span>&#169;2019 Laba42, Inc.</span></div>
    <div>
      <%= link_to do %>
        <%= content_tag :span, t('footer.telegram')%>
      <% end %>
      <%= link_to do %>
        <%= content_tag :span, t('footer.facebook'), class: "site-footer--ml-40" %>
      <% end %>
    </div>
  </footer>
</div>
