<header class="site-header">
  <div class="flex-grow-1"><%= link_to image_tag("laba42-beta.png", alt: "logo", class: 'site-header__logo'), root_path %></div>

  <% status = customer_in_profile? %>
  <% if status %>

    <% if status == :dev %>

        <div class="flex-grow-1">
          <div class="top-menu-customer">

            <%= link_to cabinet_profile_path, class: 'top-menu-customer__item-active' do  %>
              <%= content_tag :span, t(:my_projects) %>
            <% end %>
            <%= link_to projects_path, class: 'top-menu-customer__item' do %>
              <%= content_tag :span, t(:all_projects) %>
            <% end %>

          </div>
        </div>

    <% else %>

        <div class="flex-grow-1">
          <div class="top-menu-customer">
            <%= link_to cabinet_profile_path, class: 'top-menu-customer__item-active' do  %>
              <%= content_tag :span, t(:my_projects) %>
            <% end %>

            <%= link_to projects_path, class: 'top-menu-customer__item' do %>
              <%= content_tag :span, t(:all_projects) %>
            <% end %>

            <%= link_to customer_edit_profile_path, class: 'top-menu-customer__item' do %>
              <%= content_tag :span, t(:profile) %>
            <% end %>
          </div>
        </div>

      <% end %>
  <% end %>

  <% if show_devise_link? %>
    <% unless white_background? && !current_user %>
      <div><%= image_tag("letter-icon.png", alt: "messages", class: 'dropdown__img-letter') %></div>
    <% end %>
    <% if user_signed_in? %>
      <div class="dropdown">
        <%= image_tag("user.svg", alt: "user", class: "dropdown__img-user") %>
        <div class="dropdown--content">
          <%= link_to cabinet_profile_path, method: :get do %>
            <%= content_tag :span, t(:my_profile), class: "dropdown__item" %>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <%= content_tag :span, t(:log_out), class: "dropdown__item" %>
          <% end %>
        </div>
      </div>
    <% else %>
      <%= link_to new_user_session_path do %>
        <%= content_tag :span, t(:log_in), class: "site-header__enter" %>
      <% end %>
    <% end %>
  <% end %>
</header>
