<header class="site-header">
  <div class="flex-grow-1"><%= link_to image_tag("laba42.svg", alt: "logo"), root_path %></div>

  <%- if controller_name != 'registrations' && controller_name != 'sessions' %>
    <div><%= link_to image_tag("search.svg", alt: "search") %></i></div>
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <%= content_tag :span, t(:log_out), class: "site-header__enter" %>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path do %>
        <%= content_tag :span, t(:log_in), class: "site-header__enter" %>
      <% end %>
    <% end %>
  <% end %>

</header>
