<div class="apply-card">
  <div class="apply-card-head">
    <div class="apply-card-head-title"><%= project.title %></div>
    <div class="apply-card-head-dots">
      <%= image_tag("3dots.png", alt: "3dots", class: "apply-card-head-dots-img") %>
      <div class="apply-card-head-dots-content">
        <%= link_to edit_project_path(project) do %>
          <%= content_tag :span, t(:edit), class: "apply-card-head-dots-content-item" %>
        <% end %>
        <%= link_to  project_path(project), method: :delete, data: { confirm: t(:delete_confirm) } do %>
          <%= content_tag :span, t(:deactivate), class: "apply-card-head-dots-content-item" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="apply-card-info">

    <div class="apply-card-info-type">
      <%= (t(:project) + ': ' + project.cost.to_s + ' BYN') if project.project_type? %>
      <%= t(:test_task) if project.test_type?  %>
    </div>

    <div class="apply-card-info-time"> <%= t(:published) + ': '+ project.created_at.in_time_zone.strftime("%d.%m.%Y") %></div>
    <div class="apply-card-info-time"> <%= t(:expires) + ': ' + project.deadline.beginning_of_day.strftime("%d.%m.%Y")%></div>
  </div>

  <div class="apply-card-body">
    <%= markdown(project.info) %>
  </div>

  <div class="apply-card-skills">
    <% if project.skills.is_a?(Array) %>
      <% project.skills.each do |s| %>
        <% if s.is_a?(Array) %>
          <% s.each do |i| %>
            <div class="apply-card-skills-item">
              <%= i.upcase %>
            </div>
          <% end %>
        <% else %>
          <div class="apply-card-skills-item">
            <%= s.upcase %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <% project.skills.split(',') do |s| %>
        <div class="apply-card-skills-item">
          <%= s.upcase %>
        </div>
      <%end %>
    <%end %>
  </div>

  <div class="apply-card-footer">
    <% if false %>
      <div class="apply-card-footer-new"><%= t(:new_apply) %></div>
      <div class="apply-card-footer-new_dig"><%= 23 %></div>
      <div class="apply-card-footer-all_apply"><%= t(:all_apply) %></div>
      <div class="apply-card-footer-all_dig"><%= 40 %></div>
      <div class="apply-card-footer-views">
        <%= image_tag("views_eye.svg", alt: "eye") %>
        <%= 144 %>
      </div>

    <% elsif project.employee.positive? %>
      <div class="apply-card-footer-new">
        <%= t(:project_assigned) %>
      </div>
      <div class="apply-card-footer-assignes_developer">
        <%= User.find(project.employee).name %>
      </div>
    <% elsif project.employee.zero? %>
      <div class="apply-card-footer-choose_developer"><%= t(:choose_developer) %></div>
      <%= link_to project_applies_path(project_id: project.id) do %>
        <span class="apply-card-footer-all_apply"><%= t(:feedback) %></span>
        <span class="apply-card-footer-all_dig"><%= project.applies.length %></span>
      <% end %>
      <div class="apply-card-footer-views">
        <% image_tag("views_eye.svg", alt: "eye") %>
        <% 144 %>
      </div>
    <% end %>
  </div>
</div>
