<div class="dev-project-card">
  <div class="dev-project-card__title">
    <%= link_to project.title, project_path(project), class: 'dev-project-card__title__no-link-style' %>
  </div>

  <div class="dev-project-card__type-time-block">
    <div class="dev-project-card__type">
      <%= (t(:project) + ': ' + project.cost.to_s + ' BYN') if project.project_type? %>
      <%= t(:test_task) if project.test_type?  %>
    </div>
    <div class="dev-project-card__time"> <%= t(:published) + ': '+ project.created_at.localtime.strftime("%d.%m.%Y") %></div>
    <div class="dev-project-card__time"> <%= t(:expires) + ': ' + project.deadline.strftime("%d.%m.%Y")%></div>
  </div>

  <div class="dev-project-card__text">
    <%= markdown(project.info) %>
  </div>

  <div class="dev-project-card__director">
    Постановщик
  </div>

  <div class="dev-project-card__footer">
    <div class="dev-project-card__footer__company">
      <div class="dev-project-card__footer__logo">
        <%= image_tag("logo-example.png", alt: "logo", class: "dev-project-card__footer__logo-img") %>
      </div>

      <div class="dev-project-card__footer__company-text">
        <div class="dev-project-card__footer__company-name">
          <%= project.user.company_name %>
        </div>
        <div class="dev-project-card__footer__info">
          Дает обратную связь на 90% заданий
        </div>
      </div>
    </div>

    <% if project.status_active? %>
      <div class="dev-project-card__footer__button">
        <%= button_to t('interaction.notify_customer'), { controller: 'applies', action: 'implementation', project_id: project.id},
                      {method: :post, class: "button button--white button--large button--choice dev-mini-project-card-button"} %>
      </div>
    <% elsif project.status_notification_sent? %>
      <div class="dev-project-card__footer__button">
       <div> <%= t('interaction.notification_sent') %></div>
      </div>
    <% elsif project.status_completed? %>
      <div class="dev-project-card__footer__button">
        <div> <%= t('interaction.completed') %></div>
      </div>
    <% end %>
  </div>
</div>
