<div class="start-secondary__item <%= 'my-card' if current_user && current_user.projects.include?(p) %>">
  <div class="start-secondary__item-wrapper">
    <div class="start-secondary__item-title" ><%= p.title %></div>
    <div class="start-secondary__item-subtitle">
      <div>
        <%= t(:published) %><%= p.created_at.localtime.strftime('%d/%m/%Y') %>
      </div>
      <div>
        <%= t(:expires) %>: <%= p.deadline.strftime('%d/%m/%Y') %>
      </div>
    </div>
    <div class="start-secondary__item-text" ><%= sanitize(markdown(p.info))  %></div>
    <div class="start-secondary__item_skills">
      <% if p.skills.is_a?(Array) %>
        <% p.skills.each do |s| %>
          <% if s.is_a?(Array) %>
            <% s.each do |i| %>
              <div class="start-secondary__item_skills-unit">
                <%= i.upcase %>
              </div>
            <% end %>
          <% else %>
            <div class="start-secondary__item_skills-unit">
              <%= s.upcase %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <% p.skills.split(',') do |s| %>
          <div class="start-secondary__item_skills-unit">
            <%= s.upcase %>
          </div>
        <%end %>
      <%end %>
    </div>
  </div>
  <%= button_to project_path(p), class: 'button button--blue button--large start-secondary__button', method: :get do %>
    <% content_tag :span, t(:take_job) %>
  <% end %>
</div>
