<section class="start-large">

    <h1 class="start-large__title"><%= t(:start_page_title) %></h1>

    <div class="start-large__block">

      <div class="start-large__block-left">
        <% unless user_signed_in? %>
        <div class="start-large__subtitle"><%= t(:start_page_subtitle) %></div>
        <div>

            <%= link_to new_user_session_path do %>
              <%= content_tag :span, t(:enter_it_button), class: "button button--blue button--large" %>
            <% end %>

        </div>
        <% end %>
        <div class="start-large__subtitle"><%= t(:start_page_subtitle2) %></div>
        <div>
          <% if user_signed_in? %>
            <% if current_user.customer? %>
              <%= link_to new_project_path  do %>
                <%= content_tag :span, t(:start_page_button), class: "button button--blue button--large" %>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to new_user_session_path do %>
              <%= content_tag :span, t(:start_page_button), class: "button button--blue button--large" %>
            <% end %>
          <% end %>
        </div>

        <div class="start-large__subtitle"><%= t(:start_page_subtitle3) %></div>
        <div class="start-large__coming-soon"><%= t(:coming_soon) %></div>

      </div>

      <div class="start-large__block-right">
        <div><%= image_tag("main_page_img.png", alt: "main page image") %></div>
      </div>

  </div>
</section>

