<% if current_user && current_user.customer? %>
  <section class="start-secondary">
    <h3 class="start-secondary__title"><%= t(:show_wow) %></h3>
    <div class="start-secondary__wrapper">
      <% @projects.each do |p|  %>
        <%= render partial: 'shared/project_mini_card_main', locals: {p: p} %>
      <% end %>
    </div>
  </section>
  <section class="start-third">
    <%= link_to new_project_path do %>
      <%= content_tag :span, t(:add_project), class: "button button__index" %>
    <% end %>
    <%= link_to projects_path do %>
      <%= content_tag :span, t(:show_more), class: "button button--large button--light-gray" %>
    <% end %>
  </section>
<% else %>
  <section class="start-large">
    <div class="start-large__title"><%= t(:start_page_title) %></div>
    <div class="start-large__block">
      <div class="start-large__block-left">
        <% unless user_signed_in? %>
          <div class="start-large__subtitle"><%= t(:start_page_subtitle) %></div>
          <div>
            <%= link_to new_user_session_path do %>
              <%= content_tag :span, t(:enter_it_button), class: "button button--blue button--large" %>
            <% end %>
          </div>
        <% end %>
        <div>
          <div class="start-large__subtitle"><%= t(:start_page_subtitle2) %></div>
          <%= link_to new_user_session_path do %>
            <%= content_tag :span, t(:start_page_button), class: "button button--blue button--large" %>
          <% end %>
        </div>
        <div class="start-large__subtitle"><%= t(:start_page_subtitle3) %></div>
        <div class="start-large__coming-soon"><%= t(:coming_soon) %></div>
      </div>
      <div class="start-large__block-right">
        <div><%= image_tag("main_page_img.png", alt: "main page image") %></div>
      </div>
    </div>
  </section>
<% end %>
