<div>
  <div class="start-large">
    <div class="start-large__text-context">
      <h1 class="start-large__title"><%= t(:start_page_title) %></h1>
      <h2 class="start-large__subtitle"><%= t(:start_page_subtitle) %></h2>
      <div>
        <% if user_signed_in? %>
          <%= link_to new_project_path do %>
            <%= content_tag :span, t(:start_page_button), class: "button button--large" %>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <%= content_tag :span, t(:start_page_button), class: "button button--large" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="start-large__image"><%= image_tag("picture.svg", alt: "picture") %></div>
  </div>
  <div class="start-secondary">
    <h3 class="start-secondary__title"><%= t(:show_wow) %></h3>
    <div class="start-secondary__wrapper d-flex flex-wrap justify-content-between">
      <% 9.times do %>
        <div class="start-secondary__item">
          <%= image_tag("project-image.jpg", alt: "project-image") %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="start-third"><%= link_to do %>
         <%= content_tag :span, t(:show_more), class: "button button--large button--white" %>
       <% end %>
  </div>
</div>
