<section class="start-large">
  <div class="start-large__text-context">
    <h1 class="start-large__title"><%= t(:start_page_title) %></h1>
    <h2 class="start-large__subtitle"><%= t(:start_page_subtitle) %></h2>
    <div>
      <% if user_signed_in? %>
        <%= link_to new_project_path do %>
          <%= content_tag :span, t(:start_page_button), class: "button button--blue button--large" %>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <%= content_tag :span, t(:start_page_button), class: "button button--blue button--large" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="start-large__image"><%= image_tag("picture.svg", alt: "picture") %>
  </div>
</section>
<section class="start-secondary">
  <h3 class="start-secondary__title"><%= t(:show_wow) %></h3>
  <div class="start-secondary__wrapper">
    <% @projects.each do |p|  %>
      <div class="start-secondary__item">
        <div class="start-secondary__item-wrapper">
          <h5 class="start-secondary__item-title" ><%= p.title %></h5>
          <span class="start-secondary__item-subtitle-item"><%= t(:published) %><%= p.created_at.localtime.strftime('%d/%m/%Y') %></span>
          <p class="start-secondary__item-text" ><%= p.info[0..120] %>...</p>
        </div>
        <%= link_to project_path(p) do %>
          <%= content_tag :span, t(:take_job), class: "button button--blue button--stretch button--large button--list-project" %>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
<section class="start-third">
  <%= link_to do %>
    <%= content_tag :span, t(:show_more), class: "button button--large button--white" %>
   <% end %>
</section>
