<% if user_signed_in? %>
  <h1><%= "#{t(:your_projects)} #{current_user.name}" %></h1>
  <hr>
  <% if @projects.empty? %>

    <h3><%= t(:no_projects) %></h3>

    <% else %>

    <% @projects.each do |project| %>
      <%= link_to project_path(project), style: 'text-decoration: none; color: black'  do %>

        <div class="card card-footer mt-3", style="background-color: white">
          <h3><%= project.title %></h3>
          <div class="text-muted">
            <%= t(:deadline) %>:
            <%= project.deadline.strftime("%d  %h  %Y") %>
          </div>
          <div class="project-applies-refuse-button button--large">
            <% if can? :destroy, project %>
              <%= button_to t(:delete_project), project, method: :delete, class: 'button button--large button--blue mb-0' %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>

  <% end %>

<% end %>
<hr>
<div class="mt-3">
  <%= link_to t(:back_to_all_project), projects_path,class: 'project__company-name' %>
</div>
