<div class="form-input" id="new_project">
  <%= form_with(model: @project, local: true) do |form| %>
    <% if @project.errors.any? %>
      <div class="card w-100">
        <div class="card-header">
          <%= @project.errors.count %> <%= t(:errors_title) %>
        </div>
        <ul class="card-body">
            <% @project.errors.full_messages.each do |msg| %>
              <div class="form-main__label form-main__label__margin0">
                <li><%= msg %></li>
              </div>
            <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-input__input-title">
      <%= form.label t(:title_project), class: 'form-main__label'%><br>
      <%= form.text_field :title, class: 'form-main__input' %>
    </div>

    <div class="form-input__input-title">
      <%= form.label t(:keywords_project), class: 'form-main__label' %><br>
      <%= form.text_field :skills, class: 'form-main__input' %>
    </div>
      <%= form.label t(:type_project), class: 'form-main__label' %>


    <div class="in-line-items">
      <div class="radio in-line-items">
        <%= form.radio_button :project_type,'project_type', type: 'radio'  %>
        <div class="radio-label">
        <%= form.label t(:project), class: 'radio-project_type' %>
        </div>
      </div>

      <div class="radio in-line-items">
        <%= form.radio_button :project_type,'test_type', type: 'radio' %>
        <div class="radio-label">
        <%= form.label t(:test_task), class: 'radio-project_type', id: 'test_project_checkbox' %>
        </div>
      </div>
    </div>

    <div class="form-input__cost-block in-line-items" id ="currency_block">
      <div>
        <%= form.label t(:cost), class: 'form-main__label form-main__label__margin0'  %>
        <div class="in-line-items">
          <p><%= form.text_field :cost, class: 'form-input__cost-block__cost-field', id: 'currency_input'  %></p>
          <div class="form-input__cost-block__currency">
            BYN
          </div>
          <div class="form-input__cost-block__calc-currency" id="currency_calc_view">

          </div>
        </div>
      </div>

      <div class="checkbox-wrap in-line-items">
        <div class="checkbox">
          <%= form.check_box :cost_type, {}, 'free', 'price' %>
          <%= form.label :cost_type, t(:without_payment), class: 'pt-1' %>
        </div>
      </div>
    </div>


    <div>
      <%= form.label t(:deadline), class: 'form-main__label' %>
      <p><%= form.date_field :deadline, class: 'form-main__input'   %></p>
    </div>

    <div>
      <%= form.label t(:info_project), class: 'form-main__label'%><br>
      <p><%= form.text_area :info, class: 'form-main__text-area' %></p>
    </div>

    <div>
      <%= form.submit t(:post_project), class: 'button button--blue button--login mt-3 mb-3'%>
    </div>
    <%= link_to t(:return_to_list_project), projects_path %>
  <% end %>
</div>
