<% if user_signed_in? %>

  <div class="apply-card">
    <div class="apply-card-head">
        <span class="apply-card-head-title"><%= @apply_card.title %></span>
        <span class="apply-card-info-type">
          <%= (t(:project) + ': ' + @apply_card.cost.to_s + ' BYN') if @apply_card.project_type? %>
          <%= t(:test_task) if @apply_card.test_type?  %>
        </span>
    </div>

    <table>
      <tr>
        <th>Name:</th>
        <th colspan="3"></th>
        <th></th>
      </tr>

      <% @apply_card.applies.each do |apply| %>
        <tr>
          <td><%= apply.user.name %></td>
            <td><%= button_to 'Назначить иполнителем', {controller: 'applies', action: 'appointment', project_id: @apply_card.id, appointed_user: apply.user_id, apply_id: apply.id}, {method: :post, class: "button button--white button--large button--choice dev-mini-project-card-button"} %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
