<section class="start-secondary">
  <h3 class="start-secondary__title"><%= t(:show_wow) %></h3>
  <div class="start-secondary__wrapper">
    <% @projects.each do |p|  %>
      <%= render partial: 'shared/project/project_mini_card_main', locals: {p: p} %>
    <% end %>
  </div>
</section>
<section class="start-third">
  <% if user_signed_in? %>
    <% if current_user.customer? %>
      <%= link_to new_project_path do %>
        <%= content_tag :span, t(:post_project), class: "button button--large button--light-gray" %>
      <% end %>
    <% end %>
  <% end %>
  <% if @projects_filtered%>
    <%= link_to projects_path do %>
      <%= content_tag :span, t(:back_to_all_project), class: "button button--large button--light-gray" %>
    <% end %>
  <% else %>
    <% link_to do %>
      <% content_tag :span, t(:show_more), class: "button button--large button--light-gray" %>
    <% end %>
  <% end %>
</section>
