<p>
  <strong><%= t(:title) %>:</strong>
  <%= @project.title %>
</p>

<p>
  <strong><%= t(:author) %>:</strong>
  <%= @project.user.name %>
</p>

<p>
  <strong><%= t(:info) %>:</strong>
  <%= @project.info %>
</p>

<% if user_signed_in? %>

  <div>
    <% if @apply %>
      <p><%= t(:apply)%> <%= @apply.created_at.localtime.strftime('%d/%m/%Y %H:%M') %></p>
    <% else %>
      <%= link_to t(:apply_project),{ controller: 'applies', action: 'create', project_id: @project.id},
              {method: :post} %>
    <% end %>
  </div>

  <% if can? :manage, @project %>
    <%= link_to t(:edit), edit_project_path(@project) %>
    <%= link_to t(:destroy), project_path(@project),
                              method: :delete,
                              data: { confirm: t(:delete_confirm) } %>
  <% end %>
<% end %>
<%= link_to t(:back_to_all_project), projects_path %>

<h2>Comments</h2>
<%= render @project.comments %>

<% if user_signed_in? %>

  <h2>Add a comment:</h2>

  <%= form_with(model: @project.comments.build, local: true) do |form| %>
    <div>
      <p>
        <%= form.label :content %><br>
        <%= form.text_area :content %>
      </p>

      <%= hidden_field_tag :project_id, @project.id %>

      <p>
        <%= form.submit %>
      </p>
    </div>
  <% end %>
<% end %>
