<div class="login">
  <section class="login-first">
    <%= image_tag("clap.svg", alt: "clap", class: "login-first__image") %>
    <h1 class="login-first__title"><%= t(:greeting) %></h1>
    <p class="login-first__subtitle"><%= t(:introduce_yourself) %></p>
    <div class="login-first__buttons">
      <%= link_to do %>
        <%= content_tag :span, image_tag("google.svg", alt: "google", class: "button__image") + t(:google_btn), class: "button button--large button--white button--social login-first--mr-30" %>
      <% end %>
      <%= link_to do %>
        <%= content_tag :span, image_tag("facebook.svg", alt: "facebook", class: "button__image") + t(:facebook_btn), class: "button button--large button--white button--social" %>
      <% end %>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: t(:email) %>
      </div>
      <div class="form-field form-field__relative">
        <span class="form-field__image"><%= image_tag("eye.svg", alt: "eye") %></span>
        <%= f.password_field :password, autocomplete: "current-password", placeholder: t(:password) %>
      </div>
      <%= f.submit t(:log_in), class: "button button--login" %>
      <span class="form-field">
        <%= render "devise/shared/link_to_fogot_pass" %>
      </span>
    <% end %>
    <div class="login-first__bottom">
      <%= render "devise/shared/link_to_sign_up" %>
      <span class="login-first__remark"><%= t(:remark) %></span>
    </div>
  </section>
  <section class="login-second">
    <%= image_tag("rectangle-large.svg", alt: "rectangle-large", class: "login-second__image") %>
  </section>
</div>



