<div class="dev-project-card">
  <div class="dev-project-card__title">
    <%= project.title %>
  </div>

  <div class="dev-project-card__type-time-block">
    <div class="dev-project-card__type">
      <%= t(:project) %>: <%= project.cost %> BYN
    </div>
    <div class="dev-project-card__time"> <%= "#{t(:published)} : #{project.created_at.strftime("%d  %h  %Y")}" %></div>
    <div class="dev-project-card__time"> <%= "#{t(:expires)} : #{project.deadline.strftime("%d  %h  %Y")}" %></div>
  </div>

  <div class="dev-project-card__text">
    <%= project.info %>
  </div>

  <div class="dev-project-card__director">
    Постановщик
  </div>

  <div class="dev-project-card__footer">
    <div class="dev-project-card__footer__company">
      <div class="dev-project-card__footer__logo">
        <%= image_tag("logo-example.png", alt: "logo", class: "dev-project-card__footer__logo-img") %>
      </div>

      <div class="dev-project-card__footer__company-text">
        <div class="dev-project-card__footer__company-name">
          <%= project.user.company_name %>
        </div>
        <div class="dev-project-card__footer__info">
          Дает обратную связь на 90% заданий
        </div>
      </div>
    </div>

    <div class="dev-project-card__footer__button">
      <%= button_to 'Отправить ответ',{ controller: 'profile', action: 'update_role', role: :developer},
                    {method: :post, class: "button button--white button--large button--choice dev-mini-project-card-button"} %>
    </div>
  </div>
</div>
