<div class="user-form">
  <h1 class="user-form__title"><%= t(:profile_edit) %></h1>
  <%= form_with url: profile_path, method: :patch do %>

    <div class="form-field">
      <%= text_field_tag :name, @user.name, placeholder:  t(:name) %>
    </div>

    <div class="form-field">
      <%= text_field_tag :phone_number, @user.phone_number, placeholder:  t(:phone_number) %>
    </div>

    <div class="form-field">
      <%= text_field_tag :company_name, @user.company_name, placeholder:  t(:company_name) %>
    </div>

    <div class="form-field">
      <%= text_field_tag :info, @user.info, placeholder:  t(:about_company) %>
    </div>

    <div class="user-form__center">
      <%= submit_tag t(:save), class: "button button--blue button--large user-form__button"%>
    </div>
  <% end %>
  <%= render partial: 'shared/edit-form-errors-show' %>
</div>
