<!DOCTYPE html>
<html>
  <head>
    <title>Laba42</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="wrapper">
      <div class="wrapper__head">
        <%= render partial: "shared/header" %>
        <%= render partial: 'shared/flashes' %>
      </div>
      <div class="wrapper__main">
        <%= yield %>
      </div>
    </div>

    <%= render partial: "shared/footer" %>
  </body>
</html>
