<!DOCTYPE html>
<html>
  <head>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(<%= ENV['YM_ID'] %>, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="<%= "https://mc.yandex.ru/watch/#{ENV['YM_ID']}" %>" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="<%= "https://www.googletagmanager.com/gtag/js?id=#{ENV['GA_ID']}" %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '<%= ENV['GA_ID'] %>');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->

    <title>Laba42</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <% if white_background? %>
      <div class="wrapper">
        <div class="header-wrapper">
          <div class="wrapper__head">
            <%= render partial: "shared/header" %>
            <%= render partial: 'shared/flashes' %>
          </div>
        </div>
        <div class="wrapper__main">

          <%= yield %>

        </div>
      </div>
      <%= render partial: "shared/footer" %>
  <% else %>
    <div class="body-global">
      <div class="wrapper">
        <div class="header-wrapper">
          <div class="wrapper__head">
            <%= render partial: "shared/header" %>
            <%= render partial: 'shared/flashes' %>
          </div>
        </div>
        <div class="wrapper__main">

          <%= yield %>

        </div>
      </div>
      <%= render partial: "shared/footer" %>
    </div>
  <% end %>
  </body>
</html>
