<!DOCTYPE html>
<html>
  <head>
    <title>Laba42</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="wrapper">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert alert-info" %>
      <% end %>
      <%= render partial: "shared/header" %>
      <%= yield %>
      <%= render partial: "shared/footer" %>
    </div>
  </body>
</html>
