<!DOCTYPE html>
<html>
  <head>
    <title>Laba42</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <% if white_background? %>
      <div class="wrapper">
        <div class="header-wrapper">
          <div class="wrapper__head">
            <%= render partial: "shared/header" %>
            <%= render partial: 'shared/flashes' %>
          </div>
        </div>
        <div class="wrapper__main">
          <%= yield %>
        </div>
      </div>
      <%= render partial: "shared/footer" %>
  <% else %>
    <div class="body-global">
      <div class="wrapper">
        <div class="header-wrapper">
          <div class="wrapper__head">
            <%= render partial: "shared/header" %>
            <%= render partial: 'shared/flashes' %>
          </div>
        </div>
        <div class="wrapper__main">
          <%= yield %>
        </div>
      </div>
      <%= render partial: "shared/footer" %>
    </div>
  <% end %>
  </body>
</html>
