<!DOCTYPE html>
<html>
  <head>
    <title>Laba42</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header class="site-header">
        <div class="flex-grow-1"><%= link_to image_tag("laba42.svg", :alt => "logo") %></div>
        <div><%= link_to image_tag("search.svg", :alt => "search") %></i></div>
        <div><%= link_to do %>
               <%= content_tag :span, "Войти", class: "site-header__enter" %>
             <% end %>
        </div>
      </header>

      <%= yield %>

      <footer class="site-footer d-flex justify-content-between">
        <div>
          <%= link_to do %>
            <%= content_tag :span, "About"%>
          <% end %>
          <%= link_to do %>
            <%= content_tag :span, "Support", class: "site-footer--ml-40" %>
          <% end %>
        </div>
        <div><span>&#169;2019 Laba42, Inc.</span></div>
        <div>
          <%= link_to do %>
            <%= content_tag :span, "Telegram Chat"%>
          <% end %>
          <%= link_to do %>
            <%= content_tag :span, "Facebook", class: "site-footer--ml-40" %>
          <% end %>
        </div>
      </footer>
    </div>
  </body>
</html>
